.item {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: hsla(229, 100%, 13%, 0);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.461);

  color: rgb(169, 193, 255);
  transition: all 0.05s;
}
.item:hover {
  background-color: hsla(228, 27%, 65%, 0.081);
  color: #ffffff;
}

.item:active {
  transform: scale(0.92);
  box-shadow: 4px 4px 27px rgba(0, 0, 0, 0);
  color: #ffffff;
}

.item:last-of-type {
  border-bottom: none;
}

.item figure {
  margin: 0;
  padding: 1rem;
  width: 90%;
}

.item blockquote {
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
  color: #ececec;
  background-color: rgba(250, 0, 0, 0);
}
.item blockquote:hover,
.item blockquote:active {
  color: rgb(255, 255, 255);
}
.item p {
  margin: 0;
  margin-bottom: 0.25rem;
}

.item figcaption {
  font-style: italic;
  color: #566d6d;
}
.item figcaption:hover {
  color: rgb(197, 206, 255);
}
.item div {
  margin-right: 0.7rem;
  width: 10%;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item div button {
  border-radius: 0.7rem;
  padding: 0.35rem 0.7rem;
  border: 3px solid rgb(51, 51, 84);
  background-color: rgba(255, 0, 0, 0);

  display: flex;
  justify-content: center;
  align-items: center;
}
.item div button:hover {
  background-color: rgb(112, 45, 45);
  border-color: rgb(255, 0, 119);
  box-shadow: 3px 3px 20px rgba(255, 0, 115, 0.916);
  transform: scale(1);
  text-align: center;
}
.item div button:active {
  transform: scale(0.9);
}
