.item {
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 15px;
  background-color: hsla(229, 100%, 13%, 0);
  box-shadow: 0  3px 10px rgba(0, 0, 0, 0.718);
  
  color:rgb(94, 140, 255);
  transition: all 0.05s;
}

.item:hover{
  transform: scale(0.92);
  /* box-shadow: 4px 4px 27px rgba(0, 0, 0, 0); */
  /* background-color: rgba(147, 147, 255, 0.199); */
  background-color: hsla(228, 27%, 65%, 0.081);
  color: #ffffff;
}

.item:last-of-type {
  border-bottom: none;
}

.item figure {
  margin: 0;
  padding: 0;
  width: 90%;
}

.item blockquote {
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
  color: #e4e4e4;
}
.item blockquote:hover {
  color:rgb(255, 255, 255);
}
.item p {
  margin: 0;
  margin-bottom: 0.25rem;
}


.item figcaption {
  font-style: italic;
  color: #566d6d;
}
.item figcaption:hover {
  color:rgb(197, 206, 255);
}

.item div{
  padding:0.25rem 0.7rem;
  border-radius: 0.4rem;
  background-color:rgba(34, 57, 161, 0.231);
}
 