.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting {
  margin: 0;
  padding: 0;

  display:flex;
  flex-wrap:wrap;
}

.sorting button {
  color: rgba(166, 166, 166, 0.864);
  border: 0.15rem solid rgba(0, 0, 0, 0.501);
  background-color: transparent;
  border-radius: 9px;
  padding: 0.3rem 1rem;
  cursor: pointer;
  outline: none;
  font-family: sans-serif;
  font-weight: 6px;
  margin: 0.14rem;
  transition: all 0.1s;
  
  display:flex;
  align-items: center;
}
.sorting button span{
  margin-right:0.3rem;
  font-size:0.7rem;
}
.sorting button .icons{
  font-size:1.3rem;
}

.sorting button:hover {
  border: 0.15rem solid rgba(122, 99, 255, 0.686);
  color: rgb(255, 255, 255);
  background-color: #0000002f;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.22);
}
.sorting button:active {
  color: rgb(181, 181, 181);
  border: 2px solid rgba(131, 109, 255, 0.796);
  background-color: #0000002f;
  box-shadow: 0 0 8px rgba(218, 218, 218, 0);
  transform: scale(0.9);
}
hr {
  border: 0.05rem solid rgb(47, 47, 47);
}
