h2{
    color:rgb(57, 126, 255);
    /* border:0.1rem solid lightgrey; */
    padding:1rem;
    border-radius:0.6rem;
    background-color: rgba(121, 170, 255, 0.072);
    width:100%;
    text-align:center;
    
}
.section{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.container{
    padding:0.5rem;
    margin:0.5rem;
    
    width:100%;
    color:white;
    border:0.1rem solid rgb(52, 52, 52);
    border-radius:0.9rem;
    
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}
.container a{ 
    padding:0.5rem;
    height:7rem;
    
    margin:0.5rem;
    border-radius:0.7rem;
    background-color: rgba(127, 101, 255, 0.072);
    color:rgb(185, 194, 255);
    text-decoration: none;
    
    display:flex;
    justify-content:center;
    align-items:center;
    transition: all 0.2s;
    width:100%;
    max-width: 10rem;
}
.container a:hover{ 
    transform: scale(0.9) rotate(15deg);
    color:rgb(255, 255, 255);
    background-color: rgba(0, 76, 255, 0.127);
    

}